<!DOCTYPE html>
<html>
<body>
<label>Enter your username:</label><br>
  <input [(ngModel)]="userName" id= "name" name="userName" placeholder="Your username">
  <button class="btn" (click) = Chat() type = "button" >Chat</button><br><br>
  <footer>
  <input [(ngModel)]="message" name="message" id = "message_box" placeholder="Enter message">
  <button class="btn" (click) = Send() type = "button" >Send</button><br><br>
  <div id="chats"></div>

  </footer>
  </body>
</html>